@charset "EUC-KR";
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");

form{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}


/* Forms */

	form label {
		display: block;
		margin: 0 0 1em 0;
		font-family: 'GyeonggiTitleL', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #6b7770;
	}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select,
	form textarea {
		-webkit-appearance: none;
		display: block;
		width: 100%;
		border-radius: 8px;
		border: solid 2px #E7EAE8;
	}

		form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			border-color: #a1cd9b;
		}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select {
		line-height: 3em;
		padding: 0 1em;
	}

	form textarea {
		min-height: 9em;
		padding: 1em;
	}

	form ::-webkit-input-placeholder {
		color: #555 !important;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

	/* Header */

	#header {
		text-align: center;
		font-size: 1em;
		text-transform: uppercase;
		padding: 3em 0 0 0;
		margin: 0 auto;
		background: #b1ddab;
	}

	#header .logo div {
		background: #b1ddab;
		position: relative;
		display: inline-block;
		padding: 0 1.5em 0 1.5em;
		top: -0.65em;
	}
	
	#header .logo {
		position: relative;
		text-align: center;
		border-top: solid 5px #e7eae8;
		top: 0.65em;
	}


	#header .logo h1 {
		display: inline;
	}

	#header .logo p {
		display: inline;
		color: #C1CAC5;
	}
	
/* Button */
/*로그인 회원가입 버튼 전용*/
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.buttonlog {
		-webkit-appearance: none;
		display: inline-block;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		background: #b1ddab;
		color: #fff;
		border: 0;
		line-height: 1em;
		border-radius: 8px;
		outline: 0;
		cursor: pointer;
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		font-size: 15px;
		padding: 10px 16px;
		text-align: center;
	}
	
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.buttonjoin {
		-webkit-appearance: none;
		display: inline-block;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		background:  #c1cac5;
		color: #fff;
		border: 0;
		line-height: 1em;
		border-radius: 8px;
		outline: 0;
		cursor: pointer;
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		font-size: 15px;
		padding: 10px 16px;
		text-align: center;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.buttonjoin:hover {
			background: #ccd5d0;
		}


	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-webkit-appearance: none;
		display: inline-block;
		font-family: 'GyeonggiTitleL', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		background: #b1ddab;
		color: #fff;
		border: 0;
		line-height: 1em;
		border-radius: 8px;
		outline: 0;
		cursor: pointer;
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		font-size: 20px;
		/* padding 14 30 */
		padding: 15px 30px;
		text-align: center;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: #c1edbb;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background: #a1cd9b;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background: #c1cac5;
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: #ccd5d0;
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active,
			.button.alt:active {
				background: #b1bab5;
			}

		input[type="button"].large,
		input[type="submit"].large,
		input[type="reset"].large,
		button.large,
		.button.large {
			font-size: 1.65em;
		}